{% extends 'base.html' %}
{% load static %}

{% block title %}Blood Banks{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/blood_banks.css' %}">
{% endblock %}

{% block body %}
<div class="container">
    <header>
        <h1>Blood Banks in Nepal</h1>
        
    </header>
     <div class="row mt-4">
        <div class="col-md-6 mb-4">
            <div class="card shadow">
                <img src="{% static '\media\Screenshot 2025-02-15 190654.png' %}" class="card-img-top" alt="Campaign 1">
                <div class="card-body">
                    <h5 class="card-title">Pokhara Blood Bank</h5>
                    <p class="card-text">Contact: 061-521091<br>Location: Pokhara, kaski</p>
                     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3515.8569809441124!2d83.9983511!3d28.2116575!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399595cbaa3c5001%3A0x917d5897d26b04b8!2sPokhara%20Blood%20Bank!5e0!3m2!1sen!2snp!4v1739625542360!5m2!1sen!2snp" width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <div class="card shadow">
                <img src="{% static '\media\Screenshot 2025-02-15 191126.png' %}" class="card-img-top" alt="Campaign 1">
                <div class="card-body">
                    <h5 class="card-title">Manipal Teaching Hospital</h5>
                    <p class="card-text">Contact: 061-526416<br>Location: Pokhara, Kaski</p>
                     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14060.217370750814!2d83.9869082050162!3d28.236030220208708!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3995943fa57d2c71%3A0x26021811d610a128!2sNepal%20Manipal%20Teaching%20Hospital!5e0!3m2!1sen!2snp!4v1739624962447!5m2!1sen!2snp" width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    
     
        <div class="col-md-6 mb-4">
            <div class="card shadow">
                <img src="{% static '\media\Screenshot 2025-02-15 193611.png' %}" class="card-img-top" alt="Campaign 1">
                <div class="card-body">
                    <h5 class="card-title">Nepal Red Cross Society</h5>
                    <p class="card-text">Contact: 01-6611661<br>Location: Bhaktapur</p>
                     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14133.805509557887!2d85.4120020173828!3d27.672440799999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb1aa4a1a6b0d9%3A0x1a0f1c68f517736d!2sNepal%20Red%20Cross%20Society!5e0!3m2!1sen!2snp!4v1739627494888!5m2!1sen!2snp" width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>

       
        <div class="col-md-6 mb-4">
            <div class="card shadow">
                <img src="{% static '\media\Screenshot 2025-02-15 191650.png' %}" class="card-img-top" alt="Campaign 2">
                <div class="card-body">
                    <h5 class="card-title">Nepal Red Cross Society Central Blood Transfusion Service Center</h5>
                    <p class="card-text">Contact: 01-5388485<br>Location: Kathmandu</p>
                     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1814439.1286888027!2d83.07031069697557!3d27.349894593919576!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb19e8364738c1%3A0x23d588bcf9ea038e!2sNepal%20Red%20Cross%20Society%20Central%20Blood%20Transfusion%20Service%20Center!5e0!3m2!1sen!2snp!4v1739626115506!5m2!1sen!2snp" width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>

   
{% endblock %}
