{% extends 'base.html' %}
{% load static %}
{% block title %} Blood Donation {% endblock %}
{% block css %}
{% comment %} <link rel="stylesheet" href="{% static '/css/requestlist.css' %}"> {% endcomment %}
{% endblock %}
{% block body %}
<div class="container">
{% if requests %}
<h3 class="text-center">All Blood Requests</h3>
<br>
<table class="table table-sm table-bordered">
  <tr class="table-danger">
    <th>Name</th>
    <th>Phone</th>
    <th>Email</th>
    <th>Blood Group</th>
    <th>Donation Date</th>
    <th>City</th>
    <th>Address</th>
  </tr>
  {% for i in requests %}
    <tr>
      <td>{{i.name}}</td>
      <td>{{i.phone}}</td>
      <td>{{i.email}}</td>
      <td>{{i.blood_group}}</td>
      <td>{{i.date}}</td>
      <td>{{i.city}}</td>
      <td>{{i.address}}</td>
    </tr>
  {% endfor %}
</table>
{% else %}
<h2>No Blood Request Available</h2>
{% endif %}
</div>
{% endblock %}
